<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
	<div ng-app="CityApp">
		<h2>Create Departement</h2>
		<form action="rest/departement/create" method="post">
			<input type="text" name="name"> <input type="submit"
				value="Create Departement">
		</form>

		<h2>Update Departement</h2>
		<form action="rest/departement/update" method="post">
			<input type="text" name="id" value="id"> <input type="text"
				name="name" value="name"> <input type="submit"
				value="Update Departement">
		</form>

		<div class="" ng-controller="departementCtrl">
			<button ng-click="search()">Show Departements</button>
			<div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Maire</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active" ng-repeat="dpt in dpts">
							<td>dpt.id</td>
							<td>dpt.nom</td>
							<td>dpt.code</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="angular.js"></script>
	<script src="app.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
