<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="angular.js"></script>
<script src="angularApp.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid" ng-app="CityApp">
		<div class="text-center">
			<h2 class="text-info text-uppercase">Create Maire</h2>
			<form action="rest/maire/create" method="post" target="_blank">
				<input type="text" name="name" value="Nom du Maire">
				<input type="submit" value="Create Maire" class="btn-primary">
			</form>
		</div>

		<div ng-controller="maireCtrl">
			<button ng-click="search()" class="btn-warning pull-right btn-lg">Show Maires</button>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col-md-10">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th class="btn-primary">ID</th>
								<th class="btn-default">Nom</th>
								<th class="btn-danger">Prenom</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-active" ng-repeat="maire in maires">
								<td>{{maire.ID}}</td>
								<td>{{maire.Nom}}</td>
								<td>{{maire.Prenom}}</td>

							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-1">
					<br> <br>
					<div ng-repeat="maire in maires" class="text-center">
						<a href="updatemaire.html" class="btn btn-info btn-md" role="button" target="_blank">Update</a>
					</div>
				</div>
				
				<div class="col-md-1">
					<br> <br>
					<div ng-repeat="maire in maires" class="text-center">
						<a ng-href="http://localhost:8080/tp-jee-glassfish/rest/maire/delete/{{maire.ID}}" class="btn btn-danger btn-md" role="button" target="#">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
